{% load static %}
{% include 'head.html' %}
<style media="screen">
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 15px;

}
form {
  border: 3px solid #f1f1f1;
  border-radius: 10px;

}
button:hover {
  opacity: 0.8;
}

</style>
<body background="{% static 'images/Fondo.jpg' %} " style="background-repeat: no-repeat; background-size: 100% 100%;  ">

<div class="row">
  <div class="col-sm-3">

  </div>
  <div class="col-sm-5">
<br><br><br>
<h1 align="center">WikiCoosajo</h1>

<form class="form-horizontal" method="post">
  <fieldset>
    <legend>Iniciar Sesion</legend>
    {% if mensaje %}
    <div class="alert alert-danger" role="alert">{{mensaje}}</div>
    {% endif %}
    <div class="form-group">
      <div class="col-lg-12">
        <label><b>Usuario</b></label>
        {% csrf_token %}
        <input type="text" class="form-control" id="inputNombredeusuario" placeholder="Ingrese Usuario" name="username">
      </div>
    </div>
    <div class="row">
    <div class="col-md-12">
      <label><b>Contraseña</b></label>
      {% csrf_token %}
      <input type="password" class="form-control" id="inputPassword" placeholder="Ingrese Contraseña" name="password">
    </div>
    </div>

        <div class="form-group">
      <div class="col-lg-10 col-lg-offset-4">
        <button type="submit" class="">Ingresar</button>
      </div>
    </div>
  </fieldset>


</form>
</div>
<div class="col-sm-4">

</div>
</div>
</body>
